In [52]:
import pandas as pd
import re

pdf_file = "First Tech CC 1-18 2-18 2023.pdf" 
data = "data.csv"

!pdfgrep -i -P \
"adobe| \
netflix| \
portland general elect |\
comcast cable" \
pdf_file| perl -pne 's/ +/,/g' > data


df = pd.read_csv(data, names=['c1', 'c2', 'c3', 'c4','c5', 'c6','c7', 'c8','c9', 'c10'])
df = df.drop(['c1', 'c2', 'c7', 'c9'], axis=1)

# df = pd.read_csv(data)

df

pdfgrep: Could not open pdf_file

      c3           c4           c5     c6     c8     c10
0  01/19  NETFLIX.COM  NETFLIX.COM     CA  19.99     NaN
1  02/08      COMCAST        CABLE   COMM     OR   75.00
2  02/12        ADOBE    PHOTOGPHY   PLAN     CA    9.99
3  02/14     PORTLAND      GENERAL  ELECT     OR  188.08