In [8]:
import pandas as pd
import re

pdf_file = "First Tech CC 3-18 4-18 2023.pdf" 
data = "data.csv"

!pdfgrep -i -P \
"adobe products| \
apple| \
ADOBE PHOTOGPHY PLAN| \
netflix| \
portland general elect| \
state farm| \
NW NATURAL| \
GITHUB| \
att\*| \
CLOUDFLARE| \
comcast cable" \
"First Tech CC 3-18 4-18 2023.pdf" | perl -pne 's/ +/,/g' > data


df = pd.read_csv(data, names=['c1', 'c2', 'c3', 'c4','c5', 'c6','c7', 'c8','c9', 'c10'])
df = df.drop(['c1', 'c2', 'c7' ], axis=1)

#netflix = df.groupby(["c4", "c5", "c10"])
# grouped.get_group("netflix")
df

,c3,c4,c5,c6,c8,c9,c10
0,03/19,NW,NATURAL,8004224012,OR,55429502QLY0M5WL2,101.28
1,03/19,ADOBE,PRODUCTS,4085366000,52704872QLQD1Q9BW,9.99,NaN
2,03/19,NETFLIX.COM,NETFLIX.COM,CA,19.99,NaN,NaN
3,03/20,ATT*,BILL,PAYMENT,TX,55500362FPLMB51WY,137.31
4,03/26,GITHUB,SAN,FRANCISCO,82305092L000QTJPR,4.00,NaN
5,03/26,APPLE.COM/BILL,866-712-7753,CA,9.99,NaN,NaN
6,04/05,STATE,FARM,INSURANCE,IL,52704872YLQKZ0W4G,34.72
7,04/06,CLOUDFLARE,SAN,FRANCISCO,82117552Z0000D4A7,9.15,NaN
8,04/09,COMCAST,CABLE,COMM,OR,55432863261ASBFP1,75.00
9,04/11,ADOBE,PHOTOGPHY,PLAN,CA,527048734LQE8XASY,9.99
10,04/13,PORTLAND,GENERAL,ELECT,OR,554295036LY3RJ03H,173.26
11,04/14,CLOUDFLARE,SAN,FRANCISCO,82117553800002EVQ,9.15,NaN
12,04/17,APPLE.COM/BILL,866-712-7753,CA,16.99,NaN,NaN
13,04/17,APPLE.COM/BILL,866-712-7753,CA,7.99,NaN,NaN
14,04/10,APPLE.COM/BILL,866-712-7753,CA,3.99,NaN,NaN

In [50]:
nw_natural = df.loc[0, :].values.flatten().tolist()
nw_natural

['03/19', 'NW', 'NATURAL', '8004224012', 'OR', '55429502QLY0M5WL2', 101.28]

In [42]:
adobe = df.loc[1, :].values.flatten().tolist()
adobe

['03/19', 'ADOBE', 'PRODUCTS', '4085366000', '52704872QLQD1Q9BW', '9.99', nan]

In [99]:
print(df['c4'].loc[df.index[2]] , df['c8'].loc[df.index[2]])
# print(df['c8'].loc[df.index[2]])

NETFLIX.COM 19.99

In [63]:
df.loc[df.iata == 'c3','c10'].tolist()[0]

AttributeError: 'DataFrame' object has no attribute 'iata'