In [5]:
import pandas as pd
import re

!pdfgrep -i -P "adobe|netflix|portland general elect|comcast cable" "First Tech CC 1-18 2-18 2023.pdf" | perl -pne 's/ +/,/g' > data.csv


df = pd.read_csv('data.csv')
df

          Unnamed: 0     01/18      01/19 NETFLIX.COM NETFLIX.COM.1  CA  \
NaN 02/08      02/08   COMCAST      CABLE        COMM   800-COMCAST  OR
    02/10      02/12     ADOBE  PHOTOGPHY        PLAN    4085366000  CA
    02/13      02/14  PORTLAND    GENERAL       ELECT    8005428818  OR

           75418230J4S063GVB   19.99
NaN 02/08  55432861736QVWT38   75.00
    02/10  527048719LQNXLFL8    9.99
    02/13  55429501QLW152T9H  188.08